/* Admin Dashboard page css */

.container {
    color: rgb(31, 240, 195);
}

.container button {
    background-color: rgb(31, 240, 195);
    color: white;
    border: none;
    padding: 25px 10px;
    margin: 0px 5px;
    cursor: pointer;
    border-radius: 5%;
}

/* Today page css */


.today p {

    font-size: 20px;
}

.searchbarInput2 {
    width: 250px;
    padding: 12px 12px;
    font-size: 14px;
    color: black;
    border: 1px solid rgb(31, 240, 195);
    border-radius: 25px;
}

.searchbarInput2 :active {
    color: red;
}

* {
    box-sizing: border-box;
}

.column {
    background-color: #3dc9a3;
    color: white;
    float: left;
    width: 25%;
    padding: 10px;
    height: 300px;
    margin: 2px;
    border-radius: 20px;
    text-align: left;
    margin: 0px 20px;
}

h2 {
    padding: 10px;
    background-color: rgb(37 239 196);
    margin-bottom: 40px;
}

.row {
    margin-top: 30px;
}

.row:after {

    content: "";
    display: table;
    clear: both;
}

/* ovall page css */
.overall p {
    color: #3dc9a3;
    font-size: 25px;
}

.tableO {
    color: white;
    margin: 10px;
    background-color: #3dc9a3;
    width: 600px;
    border-collapse: collapse;
}

.tableO td {
    margin-top: 10px;
    padding: 5px;
}

.tableO th {
    padding: 5px;
    background-color: rgb(37 239 196);

}

/* setting page css */

.tables {
    color: white;
    margin: 10px;
    background-color: #3dc9a3;
    border-collapse: collapse;
    width: 900px;
    text-align: left;
}

.tables th {
    background-color: rgb(37 239 196);
    padding: 5px 10px;
}

.tables td {
    margin-top: 10px;
    padding: 5px 10px;
}

.tables Button {
    border-radius: 16%;
    margin-left: 5px;
    border: none;
    padding: 5px;


}

.deletebutton {
    background-color: red;
}

.editbutton {
    background-color: rgb(37 239 196);
}