#root {
    /* display: flex; */
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;

}

.pTag {
    color: #30B88F;
    font-size: 25px;
}

form input {
    display: block;
    width: 250px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.43;
    color: black;
    background-color: aliceblue;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

.loginButton {
    margin: 20px 65px !important;
    border: none;
    color: white;
    padding: 10px 40px;
    background-color: #30B88F;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}

.Linkstyle {
    text-decoration: none;
    color: #30B88F;
}


/* Dashboard page css */

.Aligement {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.para {
    margin: 10px;
}

.DahboardButton {
    border: none;
    color: white;
    padding: 25px 10px;
    background-color: #30B88F;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0px 5px;
    cursor: pointer;
    border-radius: 5%;
}

/* Records Modal page Css */

.closeButton {
    margin-left: 392px;
    background: #30B88F;
    border: none;
    color: white;
}

.paramodal {
    margin-top: -15px;
    margin-bottom: 40px;
}

.searchbarInput {
    width: 250px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.43;
    color: black;
    background-color: aliceblue;
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
}

.tableU {
    text-align: start;
    border-collapse: collapse;
    width: 600px;
}
 
.tableU th {
    text-align: start;
    background-color: #2acfba;
    
}